{% extends "base.html" %}

{% block topbar %}Players{% endblock %}

{% block content %}
    <h5>Players</h5>
    <table class="table table-bordered black-border">
        <tbody>
        <tr>
            <td scope="col" class="font-weight-bold">Id</td>
            <td scope="col" class="font-weight-bold">Name</td>
            <td scope="col" class="font-weight-bold">Team</td>
            <td scope="col" class="font-weight-bold">City</td>
        </tr>
        {% if player_list %}
            {% for player in player_list %}
                <tr>
                    <td>{{ player.id }}</td>
                    <td>{{ player.name }}</td>
                    <td>{{ player.team }}</td>
                    <td>{{ player.city }}</td>
                </tr>
            {% endfor %}
        {% endif %}
        </tbody>
    </table>
{% endblock %}